@media only screen and (max-width: 600px) {
.person:after {
    content: "";
    width: 200px;
    border-top: 4px solid #0b81d1;
    position: relative;
    margin-left: 5px;
    top: -10px;
}
}